html, body {
    height: 100%;
    padding-top: 2rem;
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
/*    overflow-x: hidden;*/
}

.container-fluid {
    padding: 0;
}

/* navbar */

.navbar-default {
    background-color: inherit;
    border-color: transparent;
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    border-radius: 0px;
    z-index: 10007;
    box-shadow: 0px 2px 3px 0.5px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    float: left;
    /*line-height: 100%;*/
    /*height: 100%;*/
}

/*.navbar-toggle {
    padding: auto 10px;
}
*/
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.navbar {
    min-height: 80px;
/*  text-align: center;
    font-size: 24px;*/
    background-color: rgb(256, 256, 256);
    border: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    top: 0;
    z-index: 20;
}

#logo {
    height: 50px;
    -webkit-transition: all 0.3s;
    transition: all 0.33s;
}

.sticky {
/*    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    text-transform: lowercase;
    font-family: "Helvetica";
    font-size: 14px;
    font-weight: 500;*/
    /*width: 100%;*/
    min-height: 40px;
    background: rgba(256, 256, 256, 0.9);
}

.sticky #logo {
    height: 25px;
}

.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}

#navbar > li {
    color: rgb(144, 238, 144);
}

.banner {
    background: url(assets/banner.png) center top no-repeat;
    width: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
}

.banner img {
    visibility: hidden;
}

/*.banner-container{
    overflow: hidden;
}*/

.bannerheading1{
    position: relative;
    left: 3rem;
    top: 6rem;
    color: white;
    width: 80%;
}

.bannerheading2{
    color: white;
    float: right;
    right: 3rem;
    bottom: 6rem;
    position: relative;
}

.heading p {
    font-size: 3rem;
    font-weight: 300;
    text-shadow: 0.8px 1px 1px rgba(0, 0, 0, 0.9);
    margin: 0;
}

.content-block-one {
    padding: 30px;
    margin-bottom: 0px;
    color: inherit;
    background-color: white;
}

.content-block-one h1,
.content-block-one .h1 {
    color: inherit;
}

.content-block-one p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 400;
}

.content-block-one > hr {
    border-top-color: #d5d5d5;
}

.container .content-block-one {
    border-radius: 6px;
}

.content-block-one .container {
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .heading p{
        font-size: 4rem;
        font-weight: 300;
        text-shadow: none;
    }
    .content-block-one {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .container .content-block-one {
        padding-right: 60px;
        padding-left: 60px;
    }
    .content-block-one h1,
    .content-block-one .h1 {
        font-size: 63px;
    }
}

.content-space-one {
    padding: 0px;
    margin-bottom: 0px;
    color: white;
    background: url(https://download.unsplash.com/photo-1428677361686-f9d23be145c9) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}
.content {
    /*padding: 150px 0;*/
    /*background-color: white;*/
}
.flex-container{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    flex-flow: row wrap;
    align-content: flex-end;
}

.tiles{
    background-color: dodgerblue;
    flex: 1;
    margin: 1rem;
}
.tiles > .icon{
    background-color: lightblue;
    float: left;
}

.tiles > .content {
    color: white;
}

.button {
    background-color: lightgreen;
}

.page-break {
    width: 50%;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
}
.footer
{
    width:960px;
    float:right;
    text-align:right;
    display:block;
    padding-top:10px;
    padding-bottom:10px;
}

.image-links,.links
{
    display:inline-block;
}
.image-links
{
    vertical-align:middle;
    position:relative;
}
.image-links img
{
    margin-left:2px;
}
.social {
list-style-type:none;
margin:0;
padding:0;
height:35px;
width:180px;
}

ul.social a {
display:block;
height:35px;
width:35px;
text-indent:-9999px;
}

ul.social li {
float:left;
margin-right:10px;
}

.social_twitter a {
background:url(assets/social-media_twitter.png);
}

.social_twitter a:hover {
background:url(assets/social-media_twitter.png);
}

.social_facebook a {
background:url(assets/social-media_facebook.png);
}

.social_facebook a:hover {
background:url(assets/social-media_facebook.png);
}

.social_linkedin a {
background:url(assets/social-media_linkedin.png);
}

.social_linkedin a:hover {
background:url(assets/social-media_linkedin.png);
}

.social_users a {
background:url(assets/social-media_pisquare.png);
}

.social_users a:hover {
background:url(assets/social-media_pisquare.png);
}